.top-header {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  background-color: #1f1f52;
  padding: 10px 0;
}
nav {
  display: flex;
}
.navbar {
  text-decoration: none;
  color: white;
  margin-right: 30px;
}

.logo img {
  width: 40%;
}
.nav-icon {
  color: white;
  margin: 0 50px;
  /* padding-top: 5px; */
}
