.top-header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  background-color: #1f1f52;
  padding: 10px 0;
}
.navbar {
  text-decoration: none;
  color: white;
  margin-right: 30px;
}
.logo {
}
.logo img {
  width: 40%;
}
.nav-icon {
  color: white;
}
