.footer-container {
  background-color: #1f1f52;
  padding-top: 30px;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 400px;
}
.footer-detalis {
  text-align: left;
  color: white;
}
